@import "variables";
.container {
  .description {
    font-size: $fontSizeHeader;
    padding: 0 30px 0 0;
    .rules {
      .secondHead {
        font-size: $fontSizeHeader;
        margin: 30px 0;
      }
    }
  }
}

.textPlusPicture {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: $fontSizeStart;
  p {
    margin: 0;
  }
}

.textPlusPicture:last-child {
  position: relative;
  top: -50px;
}

.mainHero {
  img {
    width: 300px;
    height: 275px;
    position: relative;
    top: -60px;
  }
}