@import "variables.scss";

#soundCheck {
  display: inline-block;
  font-size: $fontSizeBig;
  margin: 30px 0;
}

#off {
  display: none;
}

.checked {
  #soundCheck {
    #on {
      display: inline-block;
    }
    #off {
      display: none;
    }
  }
}

.unChecked {
  #on {
    display: none;
  }
  #off {
    display: inline-block;
  }
}