// font sizes
$fontSizeStart: 1rem;
$fontSizeBody: 1.2rem;
$fontSizeHeaderTwo: 1.3rem;
$fontSizeHeader: 1.5rem;
$fontSizeMidBig: 1.8rem;
$fontSizeBig: 2rem;
$fontSizeMaxiBig: 2.3rem;
$fontSizeNotes: 0.8rem;

// font style
$fontFam: 'Russo One';
$fontStyle: sans-serif;
$fontXl: 700;
$fontL: 600;
$fontM: 400;

// colors list
$dark: #252422;
$brown: #403d39;
//$grey: #495867;
$grey: #2c3847;
$blue: #3a0ca3;
$violetDark: #35004e;
$violet: #7209b7;
$lightviolet: #a100f2;
$pink: #d50065;
$bluegreen: #619b8a;
$green: #55a630;
$yellow: #ffff3f;
$dirtypink: #f7e1d7;
$white: #ffffff;

// parameters
$menuBigWidth: 270px;
